table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
caption h2 {
    text-align: center;
}
tr th {
    text-align: center;
    background-color: green;
    color:#17d1e9;
    text-transform: uppercase;
}
td:last-child {
text-align: right;
}
.w {
    font-style: italic;
}
h1 {
    font-size: 22px;
    text-align: center;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

td:nth-child(odd) {
    background-color: #ccc;
}
@media (min-width: 992px){
    th {
        background-color: #f2f2f2;
        font-size: 130%;
    }
    td {
        font-size: 120%;
    }
}
@media (min-width: 768px) and (max-width: 992px){
    th {
        background-color: #f2f2f2;
        font-size: 120%;
    }
    td {
        font-size: 110%;
    }
}
@media (max-width: 768px){
    th {
        background-color: #f2f2f2;
        font-size: 110%;
    }
}