
    .row {
        width: 200px;
        height: 150px;
        background-color: #ccc;
        position: relative;
      }
      
      /* Стилі для малого прямокутника внутрішньо більшого прямокутника */
      .col1 {
        width: 50px;
        height: 50px;
        background-color: #f00;
        position: absolute;
        top: 0;
        right: 0;
      }
   